<!-- <input > </input>  -->
<!-- <div ng-controller="CityAddCtrl" >
  <input type="text" class="form-control" g-places-autocomplete options="autocompleteOptions" ng-model="place"/>
  <div> {{place}}</div>
<div> -->
<div ng-controller="TripsCtrl" >

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://wetravelandblog.com/wp-content/uploads/2013/12/someday.jpg" alt="...">
        <h6>Create A New Trip</h6>
        <div class="input-group">
          <input type="text" placeholder="Dream Honeymoon" class="form-control" ng-model="trip"/>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="addTrip(trip)">Go!</button>
          </span>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://www.travelandleisure.com/sites/default/files/styles/1600x1000/public/1454344088/Paris-France-Stowe-Writer-Guide-QUOTES0116.jpg?itok=qQQ2dyuw" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://www.travelandleisure.com/sites/default/files/styles/1600x1000/public/1454344088/Paris-France-Stowe-Writer-Guide-QUOTES0116.jpg?itok=qQQ2dyuw" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
        </div>
      </div>
    </div>

  </div>

<div>
