<!DOCTYPE html>
<html>
<head>
  <title>Steamertrunks</title>
  <link href='https://fonts.googleapis.com/css?family=Sacramento|Muli:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD36xmWXNv6o0kcPdZiBaO6tSqQTuYoyeM&libraries=places"></script>

  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body ng-app="ngAppTrips">
  <div class="container">
    <h1 class="cursive">Steamer Trunks</h1>
    <hr>
    <%= yield %>
  </div>
</body>
</html>
